{# # This file is part of the YesWiki Extension tabdyn.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. 
#}

{% import "@core/multidelete-macro.twig" as multidelete %}

{% extends "@bazar/entries/index-dynamic.twig" %}

{% set necessary_fields = (params.necessary_fields is defined ? params.necessary_fields|split(',') : [])|merge(['owner']) %}

{% block assets %}
  {{ include_css('styles/vendor/datatables-full/dataTables.bootstrap.min.css') }}
  {{ include_css('tools/tabdyn/styles/tabdyn.css') }}

  {{ include_javascript('javascripts/vendor/datatables-full/jquery.dataTables.min.js') }} 
  {{ include_javascript('tools/tabdyn/javascripts/components/BazarTable.js', false, true) }}
   
{% endblock %}

{% block display_entries %}
  <Bazar-Table :params="params" :entries="entriesToDisplay" :ready="ready" :root="$root" :isadmin="{{ hasAcl("@admins")|json_encode }}">
    <template #header="{displayedEntries,BazarTable}"></template>
    <template #spinnerloader="{displayedEntries,BazarTable}">
      <spinner-loader v-if="isLoading || !ready" class="overlay super-overlay" :height="500"></spinner-loader>
    </template>
    <template #footer="{displayedEntries,BazarTable}"></template>
    <template #deletecheckbox="{targetId,itemId,disabled}">
      <td>
        {% set id = "`selectline_${targetId}_${itemId}`" %}
        <label :for="{{id}}">
          <input
            :disabled="disabled" 
            :class="disabled ? null : {selectline:true}" 
            :data-itemid="disabled ? null : itemId"
            type="checkbox"
            :id="{{id}}" 
            :name="{{id}}" 
            data-csrftoken="to-be-defined"
            value="">
          <span></span>
        </label>
      </td>
    </template>
    <template #deletecheckboxall>
      {{ multidelete.insertSelectAll('targetId','selectAllType') }}
    </template>
    <template #deleteallselectedbutton="{BazarTable,uuid}">
      {# generate template reative for vuejs #}
      {{ multidelete.insertButton('targetId','pages')|replace({
        "onclick=\"multiDeleteService.updateNbSelected('MultiDeleteModaltargetId')\"": '@click="BazarTable.deleteAllSelected"',
        'href="#MultiDeleteModaltargetId"': ':href="`#MultiDeleteModal${uuid}`"',
        'MultiDeleteModaltargetIdLabel': '`MultiDeleteModal${uuid}Label`',
        'MultiDeleteModaltargetId': '`MultiDeleteModal${uuid}`',
        'targetId': 'uuid',
        'id="': ':id="',
        'aria-labelledby="': ':aria-labelledby="',
        'data-target="': ':data-target="',
        'start-btn-delete-all"': 'start-btn-delete-all" @click.prevent.stop="BazarTable.startDelete"'
      })|raw }}
    </template>
    <template #adminsbuttons="{entryId,entryTitle,entryUrl,isExternal,candelete}">
      <a :href="isExternal ? `${entryUrl}/editiframe` : `{{ url({tag:'${entryId}',handler:'editiframe'}) }}`"
        data-toggle="tooltip"
        data-placement="left"
        class="btn btn-default btn-icon btn-xs modalbox"
        data-size="modal-lg"
        data-iframe="1"
        :title="`{{ _t('MODIFY') }} ${entryId}`"
        onclick="$(this).tooltip('hide');$(this).attr('title',$(this).data('original-title'));"
        >
        <i class="fas fa-pencil-alt"></i>
      </a>
      <a v-if="candelete"
        :href="`{{ url({tag:'${entryId}',handler:'deletepage',params:{incomingurl:url({handler:''})}}) }}`"
        data-toggle="tooltip"
        data-placement="left"
        class="btn btn-danger btn-icon btn-xs modalbox"
        :title="`{{ _t('DELETE') }} ${entryId}`"
        onclick="$(this).tooltip('hide');$(this).attr('title',$(this).data('original-title'));"
        >
        <i class="fas fa-trash"></i>
      </a>
      <button
        v-else-if="!isExternal"
        disabled="disabled"
        data-toggle="tooltip"
        data-placement="left"
        class="btn btn-danger btn-icon btn-xs"
        title="{{ _t('DELETEPAGE_NOT_OWNER') }}"
        >
        <i class="fas fa-trash"></i>
      </buttom>
    </template>
  </Bazar-Table>
{% endblock %}